# Object / libraries
*.o
*.lo
*.a
*.la
*.so
*.dylib
*.bc

# Python
*.pyc

# Build outputs
build*
*.buildinfo
debug/
release/

# Packaging
debian/
rhel/

# IDE
.vscode/

# OS
.DS_Store

# Project-specific
build.sh